<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net451" />
  <package id="Caliburn.Micro.ReactiveUI" version="2.2.1" targetFramework="net451" />
  <package id="CsvHelper" version="2.11.0" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1-beta1" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net451" />
  <package id="Panda.ApplicationCore" version="0.1.0-alpha" targetFramework="net451" />
  <package id="Panda.UI" version="0.1.0-alpha" targetFramework="net451" />
  <package id="Panda.Utilities" version="0.1.0-alpha" targetFramework="net451" />
  <package id="reactiveui" version="6.4.0.1" targetFramework="net451" />
  <package id="reactiveui-core" version="6.4.0.1" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net451" />
  <package id="Splat" version="1.6.1" targetFramework="net451" />
</packages>